#Tenshop {
    color: red;
}

.min {
color: violet;
}
 .home {
     color:red;
 }
 .tieude {
     color:  green;
 }
#banhtrang {
    color: orangered;
    font-size: 15px;
}
#cai {
    color: orchid;
    font-size: 15px;
}
#kinh {
    color: tomato;
    font-size: 15px;
}
#vi { 
    color: violet;
    font-size: 15px;
}
#khautrang {
    color: slateblue;
    font-size: 15px;
}